footer {
    width: 100%;
    background-color: #64c209;
    height: 100%;
  }
  
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  
  .column-1 {
    margin: 0 auto;
    padding-right: 4%;
    padding-left: 4%;
    text-align: right;
    display: flex;
    flex-direction: column;
  }
  
  .column-2 {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #254626;
    border-right: 2px solid #254626;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .column-3 {
    margin: 0 auto;
    text-align: left;
    padding-right: 4%;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
  }
  
  .media {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #254626;
  }
  
  footer a {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #254626;
    margin-bottom: 15px;
  }
  
  footer a:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  
  @media (max-width: 1030px) {
    h1.media {
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  
    footer a {
      font-size: 25px;
    }
  
    .column-1 {
      padding-right: 5%;
      padding-left: 5%;
    }
  
    .column-3 {
      padding-right: 1%;
      padding-left: 1%;
    }
  }
  
  @media (max-width: 675px) {
    .container-footer {
      padding-top: 15px;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 10px;
    }
    .column-2 {
      padding-top: 20px;
      width: 90%;
      border-left: none;
      border-right: none;
      padding-left: 0%;
      padding-right: 0%;
      padding-bottom: 20px;
    }
  }