body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  .title {
    padding-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #254626;
  }
  
  .main-page {
    font-family: "Merriweather";
    background-image: url(../images/Rectangle\ 25.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-page img {
    height: 350px;
    width: auto;
    margin-right: 4%;
  }
  
  .short-info-container {
    display: flex;
    margin-left: 100px;
    margin-right: 110px;
  }
  
  .short-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .calories {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-self: center;
    font-weight: 300;
    font-size: 24px;
    color: #64c209;
  }
  
  .ingredients-title {
    margin-top: 20px;
    align-self: center;
    font-weight: 700;
    font-size: 25px;
    color: #254626;
  }
  
  .ingredients-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #254626;
  }
  
  .wish-ingredients-container {
    margin-right: 100px;
  }
  
  .ingredients {
    width: 55%;
  }
  
  .wish-ingredients_title {
    padding-top: 25px;
    font-weight: 700;
    line-height: 0px;
  }
  
  .cooking {
    margin-top: 40px;
    padding-top: 60px;
    background-image: url(../images/Group\ 4.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cooking-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    color: #254626;
  }
  
  .cooking-info {
    width: 70%;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: #000000;
    padding-bottom: 30px;
  }
  
  .tab {
    text-indent: 50px;
  }
  
  .cooking-info p {
    margin: 0px 0px 20px;
    padding: 0px;
  }
  
  @media screen and (max-width: 800px) {
    .short-info-container {
      display: flex;
      flex-direction: column;
      margin: 0px 50px;
    }
  
    .ingredients-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 15px;
      line-height: 22px;
    }
  
    .main-page img {
      height: 200px;
      width: auto;
      margin-right: 0px;
    }
  
    .calories {
      margin-top: 10px;
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-self: center;
      font-size: 18px;
    }
  
    .title {
      padding-top: 20px;
      margin-bottom: 30px;
      font-size: 25px;
      color: #254626;
    }
  
    .ingredients-title {
      margin-top: 13px;
      font-size: 18px;
    }
  
    .ingredients {
      width: 90%;
    }
  
    .wish-ingredients-container {
      margin-right: 0px;
    }
  
    .wish-ingredients_title {
      padding-top: 15px;
    }
  
    .cooking {
      margin-top: 10px;
      padding-top: 20px;
      background-size: contain;
      background-repeat: repeat-y;
    }
  
    .cooking-title {
      margin-bottom: 20px;
      font-size: 25px;
    }
  
    .cooking-info {
      width: 68%;
      font-size: 18px;
      line-height: 23px;
      padding-bottom: 20px;
    }
  }